header {
    width: 100%;
    padding: 2rem 0;
    border-bottom: 0.1rem solid #e0e0e0;
    h1 {
        float: left;
        a {
            display: block;
            img {
                width: 13.05rem;
                height: 2.2rem;
            }
        }
    }
    a {
        display: block;
        float: right;
        padding-top: 0.2rem;
        img {
            width: 2rem;
            height: 2rem;
        }
    }
}