@charset "utf-8";

.wrap {
    max-width: 1200px;
    margin: 0 auto;
    h2{
        margin: 0;
        padding: 20px;
        font-size: 25px;
        border-bottom: 1px solid #e0e0e0;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 20px;
        li {
            a {
                display: block;
                color: #000;
                line-height: 30px;
                font-size: 18px;
                text-decoration: none;
            }
        }
    }
}